.banner_section .banner{
    position: relative;

}

.banne{

   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: red;


}


.footers{

    background-color: black;
    height: 80px;
    text-align: center;
    padding-top:40px;
    color: white;
}

.cont{

    margin-top: 70px;

}

/* Small devices (e.g., smartphones, <576px) */
@media screen and (max-width: 575.98px) {
    .banne {
      color: lightblue; 
      font-size: 8px;
      font-weight: 15px;
      /* Example style for small screens */
    }
  }
  
  /* Medium devices (e.g., tablets, 576px - 767px) */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    .banne {
      color: lightgreen;
      font-size: 8px; /* Example style for medium screens */
    }
  }
  